.singlePost{
    flex: auto;
   
}
.singlePostImg{
    width: 100%;
    height: 50%; 
    border-radius:5px 
}

.singlePostWrapper{
 
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.singlePostTitle{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0px;
}

.singlePostAction{
    float: right;
}

.singlePostIcon{
    margin-left: 10px;
    cursor: pointer;
    color: rgb(247, 118, 6);
}

.btn-user-disable{
    color: rgb(249 253 249);
    background-color: #198754;
    border-color: #047b04;
    font-size: 15px;
    padding: 0;
    margin-left: 277px;
    width: 64px;
    height: 29px;
}

.btn-user-enable{
    margin-left: 140px;
    width: 75px;
}
.skcPostDate{
    font-size: 12px;
    margin-left: 50px;
}

