.addPost {
    padding-top: 30px;
    width: 100%;
    text-align: center;
}

.addPostForm {
    position: relative;
    width: 100%;
}

.addPostGroup {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.addPostIcon {
    width: 25px;
    height: 25px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(118, 115, 115);
    cursor: pointer;
}

.addPostImg {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 250px;
    border-radius: 7px;
    object-fit: cover;
}


.addPostInput {
    font-size: 25px;
    border: none;
    padding: 20px;
    width: 100%;
}

.addPostInput:focus {
    outline: none;
}

.addText {
    font-size: 18px;
}

.addSubmit {
    position: absolute;
    top: 20px;
    right: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 143, 26);
    padding: 7px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}


.addAnnouncementButton{
   width: 80%;
    align-items: center;
border-radius: 7px;
color: white;
background-color: rgb(3, 143, 26);
padding: 10px;
margin-top: 20px;
margin-left: 35px;
cursor: pointer;
border: none;
display: flex;
justify-content: center;
}